language: python
python:
    - "2.6"
    - "2.7"
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libpcap-dev
    - sudo apt-get install -qq python-pcapy
script:
    - python -c "import server; import sensor"
