[Unit]
Description=Maltrail IDS/IPS. Sensor of malicious traffic detection system
Documentation=https://github.com/stamparm/maltrail#readme
Requires=network.target
Wants=maltrail-server.service
After=network-online.target maltrail-server.service

[Service]
User=root
WorkingDirectory=/opt/maltrail
ExecStart=/usr/bin/python3 sensor.py
KillMode=mixed

[Install]
WantedBy=multi-user.target
