[Definition]
failregex = ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"known attacker".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"mass scanner".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"malware".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"heuristic".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"attacker".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"reputation".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"potential[^"]*(web scan|directory traversal|injection|remote code|iot-malware download)".*$
            ^.*?\s+<HOST>\s+\d+\s+\d+\.\d+\.\d+\.\d+\s+\d+\s+\w+\s+\w+\s+\d+\.\d+\.\d+\.\d+\s+"spammer".*$
