@media screen and (max-width: 900px) {
    #status_container {
        display: none !important;
    }
}
@media screen and (max-width: 650px) {
    .DTTT_container, #details_info {
        display: none !important;
    }
}
@media screen and (max-width: 460px) {
    #details_length, #documentation_link, #issues_link, .link-splitter {
        display: none !important;
    }
}